* {
cursor: none;
}

.cursor {
position: fixed;
height: var(--circle);
width: var(--circle);
transform:scale(1);
border-radius: 50%;
transition: all 0.35s, top 0s, left 0s;
mix-blend-mode: difference;
transform: translate(-50%, -50%);
pointer-events: none;
display:flex;
}

.cursor:first-child {
background-color: #fff;
/* --circle:8px */
--circle:6px
}
.cursor.second-cursor {
background-color: none;
border:1px solid rgba(255, 255, 255, 0.527);
/* --circle:53px; */
--circle:33px;
}

.cursor:first-child.big{
--circle:35px;
}
.second-cursor.big { 
--circle:0px;
border-width:0px;
}

/* cursor menu */
.cursor1 {
  position: fixed;
  height: var(--circle);
  width: var(--circle);
  transform:scale(1);
  border-radius: 50%;
  transition: all 0.35s, top 0s, left 0s;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display:flex;
  }
  
  .cursor1:first-child {
  background-color: #fff;
  /* --circle:8px */
  --circle:6px
  }
  .cursor1.second-cursor1 {
  background-color: none;
  border:1px solid rgba(255, 255, 255, 0.527);
  /* --circle:53px; */
  --circle:33px;
  }
  
  .cursor1:first-child.big{
  /* --circle:35px; */
  --circle:25px;
  }
  .second-cursor1.big { 
  --circle:0px;
  border-width:0px;
  }
