svg {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
}

.bounce {
  width:40px;
  height:40px;
    position:absolute;
    animation-name:bounce;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  
  @keyframes bounce {
    from {
      transform:translateY();
    }
    to {
      transform:translateY(-40px);
    }
  } 


  .bounce1 {
    width:40px;
    height:40px;
    position:absolute;
    animation-name:bounce1;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  
  @keyframes bounce1 {
    from {
      transform:translateY(-50px);
    }
    to {
      transform:translateY(-90px);
    }
  } 

  .bounce2 {
    width:40px;
    height:40px;
    position:absolute;
    animation-name:bounce2;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  
  @keyframes bounce2 {
    from {
      transform:translateY();
    }
    to {
      transform:translateY(-20px);
    }
  } 

  .bounce3 {
    position:absolute;
    animation-name:bounce3;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  
  @keyframes bounce3 {
    from {
      transform:translateY();
    }
    to {
      transform:translateY(20px);
    }
  } 

  .bounce4 {
    width:30px;
    height:30px;
    position:absolute;
    animation-name:bounce4;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  
  @keyframes bounce4 {
    from {
      transform:translateY();
    }
    to {
      transform:translateY(20px);
    }
  } 

  